@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    background-color: #E3F7FF;
}

/* NAVBAR */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    z-index: 1000;
}

.images {
    display: flex;
    align-items: center;
}

.images img {
    max-height: 50px;
    margin: 0 10px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px;
}

a {
    cursor: pointer;
    font-weight: 600;
    color: #0C5EF6;
    margin: 0 15px;
    transition: all 0.3s ease;
}

a.active {
    color: white;
    background-color: #0C5EF6;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    flex-shrink: 0;
}

#footer-logo {
    max-height: 80px;
}

.creditos {
    display: flex;
    align-items: center;
    height: 100%;
}

.creditos p {
    font-weight: 600;
    margin: 0;
}

.creditos span {
    color: #0C5EF6;
    font-weight: 700;
}

.redes {
    display: flex;
    align-items: center;
    height: 100%;
}

.redes p {
    margin-right: 30px;
    font-weight: 600;
}

.redes a {
    margin: -10px;
    scale: 0.5;
    transition: transform 0.3s ease;
}

.redes a:hover {
    transform: translateY(-20px);
}

/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.buttons div {
    display: flex;
    margin: 10px;
    padding: 0px 20px 0px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.buttons a {
    font-weight: 600;
    text-align: center; /* Asegura que el texto dentro del enlace esté centrado */
    width: 100%; /* Asegura que el enlace ocupe todo el espacio disponible en el div */
    display: flex; /* Habilita Flexbox en el enlace (si es necesario) */
    justify-content: center; 
    align-items: center; 
}

.button-donate {
    background-color: #0057ED;
}

.button-contact {
    background-color: white;
    color: #0057ED;
}

/* SOBRE FIRST SECTION */
#sobre-first {
    background: linear-gradient(45deg, #FFFFFF 0%, #BCBCBC 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px 20px;
    gap: 20px;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container-left p {
    width: 90%;
}

.container-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rifa {
    background: linear-gradient(45deg, #FFFFFF 0%, #BCBCBC 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    align-items: center;
}

.container-premios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.premio {
    text-align: center;
}

.premio img {
    max-height: 150px;
}

#info {
    height: fit-content;
    width: 100%;
    background-color: #0057ED;
    display: flex;
    flex-direction: row;
}

#first-info-logo {
    width: 70%;
}

#info .container-left {
    width: 50%;
}

#info .container-left img {
    margin: 20px;
    border-radius: 25px;
}

#info .container-right {
    width: 50%;
    display: flex;
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: center; /* Centrar contenido horizontalmente */
}

#info .container-right .content { 
    width: 80%;
    max-width: 100%; /* Evitar que el contenido se expanda más allá del padre */
    color: white;
    box-sizing: border-box; /* Incluir padding y border en el ancho */
    display: flex;
    flex-direction: column; /* Asegurar que los hijos se posicionen en columna */
    align-items: center; /* Centrar los hijos horizontalmente */
    justify-content: center; /* Centrar los hijos verticalmente */
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; /* Asegurar que los elementos ocupen espacio disponible sin salirse */
    width: 100%;
    box-sizing: border-box; /* Asegurar que el padding se incluya en el ancho */
}

.features div {
    text-transform: uppercase;
    font-size: 1.8em;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Evitar que los elementos individuales se expandan demasiado */
}

.features div p {
    font-weight: bold;
    margin: 2px;
}

/* TRAYECTORIA SECTION */
#trayectoria {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trayectoria .title {
    color: black;
    font-weight: 800;
}

.time-container {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: fit-content;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.timeline-container::-webkit-scrollbar {
    width: 10px;
}

.timeline-container::-webkit-scrollbar-track {
    background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.timeline-item {
    margin: 30px 0;
    cursor: pointer;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.timeline-item.active .dot {
    margin-left: 18px;
    background: #0C5EF6;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.timeline-item.active .content {
    padding-left: 15px;
    font-weight: bold;
    transform: scale(1.9);
    transition: transform 0.3s ease;
}

.dot {
    width: 20px;
    height: 20px;
    background: #0C5EF6;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease;
    z-index: 1;
}

.content {
    font-size: 14px;
}

.content-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.image-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 85%;
    height: 45%;
}

#img {
    width: 50%;
    min-height: 300px;
    border-radius: 35px;
    background-size: cover;
    background-position: center;
}

#left-arrow-image-selector, #right-arrow-image-selector {
    left: 0;
    right: 0;
    scale: 1;
}

.text-content {
    width: 85%;
}

h1, h2, p {
    margin: 10px 0;
}

.achievement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.achievement-item {
    position: relative;
    width: auto;
    height: fit-content;
    margin-right: 30px;
}

/* MENTORES SECTION */

#mentores .title {
    color: white;
    margin-bottom: 20px;
}

#mentores {
    background-color: #0057ED;
    min-height: fit-content;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.mentores {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
}

.mentores-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.mentor {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    overflow: hidden; 
    margin-bottom: 20px;
}

.mentores-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.mentor-content {
    width: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mentores .nombre {
    color: black;
    font-size: 1.2em;
    margin: 10px 0;
}

#mentores .correo {
    color: #0057ED;
    margin-bottom: 10px;
}

.descripcion {
    height: 230px;
}

.rrss {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.rrss img {
    scale: 0.5;
    transition: transform 0.3s ease;
}

.rrss img:hover {
    transform: scale(0.8);
}

/* COLABORA SECTION */
#colabora {
    height: fit-content;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    padding: 80px 20px 20px;
    gap: 20px;
}

#colabora .container-left {
    flex: 1;
}


/* PATROCINADORES */
.patrocinadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.patrocinadores {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.patrocinadores img {
    cursor: pointer;
    width: 140px;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-out;
}

.patrocinadores img:hover {
    transform: translateY(-20px);
}

/* MENCIONES(HONOREES) SECTION */
#mentions {
    background-color: #0057ED;
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 100%; 
}

#mentions .title {
    color: white;
    margin-top: 40px;
}

.mentions-container {
    margin: 2px;
    background-color: white;
    border-radius: 40px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.mentions-container-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 200px;
}

#honoree-img {
    margin: 100px;
    height: 100%;
    width: 90%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.mentions-container-right {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.mentions-container-right h1,
.mentions-container-right h2,
.mentions-container-right p {
    width: 80%;
}

.selector-fotos {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    scale: 0.8;
}

.right-arrow {
    transform: rotate(180deg);
}

.arrow-container {
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 15px 15.5px -1px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 80px;
}

/* CUSTOMIZAR TEXTO */
h1, #achievement-section-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
    color: #0C5EF6;
}

h1 {
    font-size: 1.5em;
}

p, #achievement-description, #achievement-description2, #achievement-description3 {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 20px;
}

#achievement-title, #achievement-title2, #achievement-title3 {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 500;
    color: #0C5EF6;
}

#achievement-description, #achievement-description2, #achievement-description3 {
    display: flex;
    margin-top: -5px;
}

.text-content {
    animation: fadeIn 0.5s ease-in-out;
}

.text-content.fade-out {
    animation: fadeOut 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

.text-content.fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

/* MEDIA QUERIES PARA RESPONSIVE DESIGN */

/* Tablets */
@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menu {
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    #sobre-first {
        margin-top: 50px;
    }

    #sobre-first .container-left {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #sobre-first, #colabora {
        flex-direction: column;
    }

    .container-left, .container-right {
        width: 100%;
    }

    /* fuckin shit*/

    .container-premios {
        flex-direction: column;
    }

    #info {
        flex-direction: column;
        height: auto;
    }

    #info .container-left {
        width: 100%;
        align-items: center;
    }

    #info .container-left img {
        width: 400px;
    }

    #info .container-right {
        width: 100%;
        display: flex;
        align-items: center; /* Centrar contenido verticalmente */
        justify-content: center; /* Centrar contenido horizontalmente */
    }


    #mentions {
       height: fit-content; 
       padding: 20px;
    }


    .mentions-container {
        flex-direction: column;
        height: fit-content;
    }

    #honoree-img {
        background-size: cover;
        min-height: 300px;
        margin: 20px;
    }


    .mentions-container-left, .mentions-container-right {
        width: 100%;
    }

    .mentions-container-right {
        justify-items: center;
        align-items: center;
    }

    .mentions-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .achievement-container {
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }

    .mentores {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .mentor {
        max-width: 45%;
        margin-bottom: 20px;
    }

    .descripcion {
        height: auto; 
    }
}

/* Smartphones */
@media screen and (max-width: 480px) {
    .navbar {
        height: auto;
        padding: 10px;
    }

    spline-viewer {
        height: 600px;
    }

    .menu {
        padding: 10px 0;
        flex-direction: column;
    }

    footer {
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-logo {
        scale: 0.8;
    }

    #sobre-first {
        margin-top: 100px;
    }

    .buttons {
        flex-direction: column;
        height: auto;
    }

    .button-donate, .button-contact {
        width: 100%;
        height: 50px;
    }

    iframe {
        height: 250px;
    }
    
    #info .container-left {
        width: 100%;
        align-items: center;
    }

    #info .container-left img {
        width: 80%;
    }

    .features {
        flex-direction: column;
    }

    .image-selector {
        height: 200px;
        
    }

    #trayectoria {
        height: fit-content;
    }

    #trayectoria .arrow-container{
        scale: 0.5;
        display: none;
    }

    .image-selector {
        height: fit-content;
    }

    .image-selector #img {
        height: 150px;
        width: 100%;      
    }



    .time-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .timeline-container {
        height: 90px;
        width: 100%;

    }

    .timeline {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .timeline-item {
        flex-direction: column;
      
    }

    .timeline-item .dot {
        margin-right: 0px;
    }

    .timeline-item.active .dot {
        transform: scale(1.3);
    }

    .timeline-item.active .content {
        transform: scale(1);
    }

    .timeline-item.active .dot, .timeline-item.active .content {
        padding-left: 0px;
        margin-left: 0px;
    }

    .achievement-container {
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }

    .achievement-item {
        margin-right: 0px;
    }
  
    .mentores {
        flex-direction: column;
        align-items: center;
    }

    .mentor {
        max-width: 90%; /* Ajustar el ancho para móviles */
        margin-bottom: 20px;
    }

    .descripcion {
        height: auto; /* Permitir que la altura se ajuste automáticamente */
    }

    .rrss {
        justify-content: center;
    }

    .selector-fotos {
        flex-direction: row;
        justify-content: space-between;
    }
}
