@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    background-color: #E3F7FF;
}

/* NAVBAR */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    z-index: 1000;
}

.images {
    display: flex;
    align-items: center;
}

.images img {
    max-height: 50px;
    margin: 0 10px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px;
}

a {
    cursor: pointer;
    font-weight: 600;
    color: #0C5EF6;
    margin: 0 15px;
    transition: all 0.3s ease;
}

a.active {
    color: white;
    background-color: #0C5EF6;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    flex-shrink: 0;
}

#footer-logo {
    max-height: 80px;
    margin-right: 30px;
}

.creditos {
    display: flex;
    align-items: center;
    height: 100%;
}

.creditos p {
    font-weight: 600;
    margin: 0;
}

.creditos span {
    color: #0C5EF6;
    font-weight: 700;
}

.redes {
    margin-right: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.redes p {
    margin-right: 30px;
    font-weight: 600;
}

.redes a {
    margin: -10px;
    scale: 0.5;
    transition: transform 0.3s ease;
}

.redes a:hover {
    transform: translateY(-20px);
}

/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.buttons div {
    display: flex;
    margin: 10px;
    padding: 0px 20px 0px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.buttons a {
    font-weight: 600;
    text-align: center; /* Asegura que el texto dentro del enlace esté centrado */
    width: 100%; /* Asegura que el enlace ocupe todo el espacio disponible en el div */
    display: flex; /* Habilita Flexbox en el enlace (si es necesario) */
    justify-content: center; 
    align-items: center; 
}

.button-donate {
    background-color: #0057ED;
}

.button-contact {
    background-color: white;
    color: #0057ED;
}

/* SOBRE FIRST SECTION */
#sobre-first {
    background: linear-gradient(45deg, #FFFFFF 0%, #BCBCBC 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px 20px;
    gap: 20px;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container-left p {
    width: 90%;
}

.container-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* INFO */
#info {
    background-color: #0057ED;
    height: 80vh;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#info .container-left {
    width: auto;
    height: 100%;
}

#info .container-right {
    height: 100%;
    flex-direction: column;
    background-color: #0057ED;
    color: white;
}

#info .descripcion {
    margin: 50px;
    justify-content: center;
}

.features {
    display: flex;
    flex-direction: row;
}

.features div {
    text-transform: uppercase;
    font-size: 1.8em;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features div p {
    font-weight: bold;
    margin: 2px;
}

/* TRAYECTORIA SECTION */
#trayectoria {
    background: white;
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: center;
    align-items: center;
}

#trayectoria .title {
    margin-top: 40px;
    color: black;
    font-weight: 800;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.timeline-container {
    width: 15%;
    display: flex;
    align-items: center;
    height: 80%;
    flex-direction: column;
}

.timeline-container::-webkit-scrollbar {
    width: 10px;
}

.timeline-container::-webkit-scrollbar-track {
    background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.timeline-item {
    margin: 30px 0;
    cursor: pointer;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.timeline-item.active .dot {
    margin-left: 18px;
    background: #0C5EF6;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.timeline-item.active .content {
    padding-left: 15px;
    font-weight: bold;
    transform: scale(1.9);
    transition: transform 0.3s ease;
}

.dot {
    width: 20px;
    height: 20px;
    background: #0C5EF6;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease;
    z-index: 1;
}

.content {
    font-size: 14px;
}

.content-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 80px;
    height: 90%;
}

.image-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 85%;
    height: 45%;
}

#img {
    width: 50%;
    height: 100%;
    border-radius: 35px;
    background-size: cover;
    background-position: center;
}

#left-arrow-image-selector, #right-arrow-image-selector {
    left: 0;
    right: 0;
    scale: 1;
}

.text-content {
    width: 85%;
}

h1, h2, p {
    margin: 10px 0;
}

.achievement-container {
    display: flex;
    flex-direction: row;
}

.achievement-item {
    position: relative;
    width: auto;
    height: 140px;
    margin-right: 30px;
}

/* MENTORES SECTION */

#mentores .title {
    color: white;
    margin-bottom: 20px;
}

#mentores {
    background-color: #0057ED;
    min-height: 80vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mentores {
    display: flex;
    gap: 20px;
}

.mentores-container {
    height: 550px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.mentor {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 300px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se dispongan en columna */
    align-items: center;
    text-align: center; 
    overflow: hidden; 
}

.mentores-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

.mentor-content {
    width: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word; /* Asegura que las palabras largas se dividan correctamente */
    overflow-wrap: break-word; /* Maneja el desbordamiento de texto */
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mentores .nombre {
    color: black;
    font-size: 1.2em;
    margin: 10px 0; /* Espaciado entre los elementos */
}

#mentores .correo {
    color: #0057ED;
    margin-bottom: 10px; /* Espaciado entre los elementos */
}

.descripcion {
    height: 230px;
}

.rrss img {
    scale: 0.5;
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.rrss img:hover {
    transform: scale(0.8); /* Efecto de zoom en hover */
}

/* COLABORA SECTION */
#colabora {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px 20px;
    gap: 20px;
}

#colabora .container-left {
    flex: 1;
}


/* PATROCINADORES */
.patrocinadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.patrocinadores {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.patrocinadores img {
    cursor: pointer;
    width: 140px;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-out;
}

.patrocinadores img:hover {
    transform: translateY(-20px);
}

/* MENCIONES(HONOREES) SECTION */
#mentions {
    background-color: #0057ED;
    display: flex;
    align-items: center; /* Centra verticalmente (si es necesario) */
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    height: 100%; /* Si necesitas centrar también verticalmente */
}

#mentions .title {
    color: white;
    margin-top: 40px;
}

.mentions-container {
    margin: 20px;
    background-color: white;
    border-radius: 40px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.mentions-container-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#honoree-img {
    margin: 100px;
    height: 100%;
    width: 90%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.mentions-container-right {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.mentions-container-right h1,
.mentions-container-right h2,
.mentions-container-right p {
    width: 80%;
}

.selector-fotos {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    scale: 0.8;
}

.right-arrow {
    transform: rotate(180deg);
}

.arrow-container {
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 15px 15.5px -1px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 80px;
}

/* CUSTOMIZAR TEXTO */
h1, #achievement-section-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
    color: #0C5EF6;
}

h1 {
    font-size: 1.5em;
}

p, #achievement-description, #achievement-description2, #achievement-description3 {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 20px;
}

#achievement-title, #achievement-title2, #achievement-title3 {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 500;
    color: #0C5EF6;
}

#achievement-description, #achievement-description2, #achievement-description3 {
    display: flex;
    margin-top: -5px;
}

.text-content {
    animation: fadeIn 0.5s ease-in-out;
}

.text-content.fade-out {
    animation: fadeOut 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

.text-content.fade-in {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

/* DISEÑO RESPONSIVE */
@media (max-width: 1200px) {
    #sobre-first, #colabora {
        flex-direction: column;
        align-items: center;
    }

    .container-left, .container-right {
        width: 100%;
    }

    .container-left p {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .menu a {
        margin: 5px 0;
    }

    #sobre-first, #colabora {
        padding: 40px 10px;
    }

    #sobre-first {
        margin-top: 170px;
    }

    #sobre-first br {
        display: none;
    }

    .button-donate {
        background-color: #0057ED; 
        border-radius: 25px;
        font-weight: 600;
    }

    .container-left, .container-right {
        width: 100%;
    }

    video {
        width: 100%;
        height: auto;
    }

    .image-selector {
        height: 100px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the start of the container */
        width: 100%;
    }


    .text-content p {
        font-size: 0.7em;
    }

    .timeline-item {
        margin: 20px;
    }

    .content-display {
        display: flex;
    }

    .timeline-item.active .content {
        padding-left: 0px;
        font-weight: bold;
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    #title, #achievement-section-title {
        align-items: start;
        scale: 0.8;
    }

    .achievement-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .achievement-item {
        margin-right: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0; /* Asegúrate de que no haya padding adicional */
    }
    
    .achievement-title {
        margin: 0; /* Elimina el margen superior e inferior del título */
    }
    
    .achievement-description {
        margin: 0; /* Elimina el margen superior e inferior del párrafo */
    }
    
    .achievement-item h2 {
        scale: 0.8;
    }
    
    .achievement-item p {
        scale: 0.7;
    }
    

    .mentions-container-left, .mentions-container-right {
        width: 100%;
    }

    .mentions-container-right h1, .mentions-container-right h2, .mentions-container-right p {
        width: 100%;
    }

    .selector-fotos {
        width: 100%;
    }

    .left-arrow, .right-arrow {
        width: 30px;
        height: 30px;
    }

    .patrocinadores {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    h2, p {
        font-size: 0.8em;
    }

    .navbar {
        padding: 10px 5px;
    }

    .menu a {
        margin: 3px 0;
        font-size: 0.9em;
    }

    #sobre-first, #colabora {
        padding: 20px 5px;
    }

    #sobre-first {
        margin-top: 160px;
    }

    #sobre-first br {
        display: none;
    }

    video {
        width: 100%;
        height: auto;
    }

    .image-selector {
        height: 100px;
    }

    .cards {
        padding: 20px 0;
    }

    .card {
        width: calc(100% - 20px);
    }

    .profile-img {
        width: 80px;
        height: 80px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .creditos, .redes {
        width: 100%;
        justify-content: center;
        padding: 10px 0;
    }

    #footer-logo {
        margin: 0 0 10px 0;
    }

    .redes p {
        margin-left: 10px;
    }

    .redes a {
        margin: px;
        scale: 0.6;
    }
}
